<section>
    <img class="shade1" src="assets/img/shades/30. Purple shadow about me.svg" alt="">
    <img class="shade2" src="assets/img/shades/52. Blue shadow 1 V2.svg" alt="">
    
    <div class="titel-box">
        <div class="title-rotate" [ngClass]="{'german-text': isGerman()}">
            <span>{{ landingText.title }}</span>
        </div>
        <div class="titel">
            <h1>{{ landingText.name }}</h1>
            <h2>{{ landingText.role }}</h2>
        </div>
    </div>
    
    <div>
        <a href="#contact" class="btn-ref">
            <button class="btn-primary margin-top48 btn-bigger">{{ landingText.getInTouch }}</button>
        </a>
    </div>
    <div class="bottom-section">
        <div class="link-section">
            <hr />
            <a href="https://github.com/phischa" target="_blank">
                <img src="assets/img/landingPage/github-small.svg" alt="Github">
            </a>
            <a href="#contact">
                <img src="assets/img/landingPage/mail-small.svg" alt="E-Mail">
            </a>
            <a href="https://www.linkedin.com/in/philip-schaper" target="_blank">
                <img src="assets/img/landingPage/linked small.svg" alt="Linkedin">
            </a>
        </div>

        <div class="scroll">
            <span>
                {{ landingText.scrollDown }}
            </span>
            <img src="assets/img/landingPage/Vector.svg" alt="">
        </div>
    </div>
</section>
