section {
    height: 100vh;
    width: 100%;
    background-color: #151D2E;
    background-position: 50% 50%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-size: cover;
}

.about-me {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.about-me-text {
    padding: 64px 120px 64px 120px;

    h1 {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        text-align: left;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
    }
}

.about-me-img {
    padding: 64px 120px 64px 120px;
}