<section id="about-me" class="scroll-offset">
    <div class="about-me">
        <div class="about-me-text">
            <h1>About me</h1>
            <br><br>
            <p>
                Hello, my Name is Philip. I am a Frontend Developer based in Berlin.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium omnis at rerum! Dignissimos odio fugiat
                et laborum nesciunt quasi, facilis quas sequi culpa, ex maxime eum? Unde doloremque magni doloribus!
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium omnis at rerum! Dignissimos odio fugiat
                et laborum nesciunt quasi, facilis quas sequi culpa, ex maxime eum? Unde doloremque magni doloribus!                
            </p>
        </div>
        <div class="about-me-img">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, ut, culpa quaerat corporis velit ab
                debitis sed ad quasi dolorum possimus quod consequuntur eligendi incidunt quam eos qui exercitationem ipsum.
            </p>
        </div>
    </div>
    <div>
        <img class="bg-blending" src="assets/img/aboutMe/28. Hero Background.svg" alt="">
    </div>
</section>