section {
    background-color: #151D2E;
    background-position: 50% 50%;
    color: white;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
}

.about-me {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.about-me-text {
    padding: 64px 64px 64px 120px;

    h1 {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        text-align: left;
    }

    p {
        padding-top: 64px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        letter-spacing: 0.5px;
    }
}

.about-me-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 64px 120px 46px 64px;

    .img-background {
        position: relative;
        top: -450px;
        z-index: 0;
        max-width: 400px;
    }

    .img-portrait {
        max-width: 400px;
    }
}

@media (min-width: 2000px) {
    .about-me-text {
        padding: 64px 220px 64px 120px !important;
    }

    .about-me-img {
        padding: 64px 120px 56px 320px !important;
    }
}

@media (min-width: 1500px) {
    .about-me-text {
        padding: 64px 120px 64px 120px;
    }

    .about-me-img {
        padding: 64px 120px 56px 120px;
    }
}

@media (min-width: 1400px) {
    .about-me-text {
        padding: 64px 120px 64px 120px;
    }

    .about-me-img {
        padding: 64px 120px 56px 120px;
    }
}

@media (max-width: 1200px) {
    .about-me-text {
        padding: 64px 8px 80px 120px;
    }

    .about-me-img {
        padding: 64px 120px 56px 64px;
    }
}

@media (max-width: 950px) {
    .about-me {
        display: flex;
        flex-direction: column;
    }

    .about-me-text {
        padding: 64px 64px 80px 64px;
    }

    .about-me-img {
        padding: 0px 64px 44px 64px;
    }
}


@media (max-width: 750px) {
    .about-me-text {
        gap: 24px;
        padding: 64px;

        h1 {
            font-size: 64px;
        }   

        p {
            padding-top: 24px;
        }
    }
}

@media (max-width: 435px) {
    section {
        padding-top: 64px;
    }

    .about-me-text {
        padding: 0px 24px 24px 24px;

        h1 {
            font-size: 44px;
        }
    }
}

/* @media (max-width: 1250px) {
    .bg-blending {
        margin-top: -600px;
    }
} */