section {
    background-color: #151D2E;
    background-position: 50% 50%;
    color: white;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
}

.about-me {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.about-me-text {
    padding: 64px 120px 64px 120px;

    h1 {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        text-align: left;
    }

    p {
        padding-top: 64px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
    }
}

.about-me-img {
    padding: 64px 120px 64px 120px;
}

@media (max-width: 950px) {
    .about-me {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 750px) {
    .about-me-text {
        gap: 24px;
        padding: 64px;

        h1 {
            font-size: 64px;
        }

        p {
            padding-top: 24px;
        }
    }
}

@media (max-width: 435px) {
    .about-me-text {
        padding: 24px;

        h1 {
            font-size: 40px;
        }
    }
}

/* @media (max-width: 1250px) {
    .bg-blending {
        margin-top: -600px;
    }
} */
