section {
    background-color: #151D2E;
    background-position: 50% 50%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    /* padding: 64px 120px 64px 120px; */
}

/* .row {
    display: flex;
    flex-direction: row;
} */

.headline {
    position: relative;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-bottom: 64px;
}


h1 {
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    text-align: center;
}

hr {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    border: 0;
    right: 0;
    border-top: 4px solid #1FDAE7;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 1em 0;
    box-sizing: content-box;
}

.hr-invisible {
    z-index: -10000;
    position: relative;
    display: flex;
    justify-content: end;
    border: 0;
    right: 0;
    border-top: 4px solid #1FDAE7;
    margin: 1em 0;
    box-sizing: content-box;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],[type=email],
select,
textarea {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

.contact-section {
    display: flex;
    justify-content                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               : flex-end;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
}

.warn-message {
    color: rgb(225, 0, 0);
    font-size: 11px;
}