<section id="contact" class="scroll-offset">
    <div class="headline">
        <hr class="hr-invisible" />
        <h1>Contact</h1>
        <hr />
    </div>

    <div class="contact-section">
        <div class="contact-paragraph">
            <h2>Looking for a <span class="purple">frontend developer</span>?</h2>
            <p>Feel free to contact me. <br> I'm looking forward to hear from you.</p>
        </div>


        <div class="contact-form">
            <div class="container">
                <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

                    <label for="name">Name </label>
                    @if(!name.valid && name.touched && !name.disabled) {
                    <span class="warn-message">Please enter your name.</span>
                    }
                    <input class="bg-color" #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name"
                        name="name" placeholder="Your name" required
                        [ngClass]="{'error-border': !name.valid && name.touched && !name.disabled}">

                    <label for="email">Email </label>
                    @if(!email.valid && email.touched && !email.disabled) {
                    <span class="warn-message">Please enter your email address.</span><br>
                    }
                    <input class="bg-color" #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email"
                        name="email" placeholder="Your email" required
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                        [ngClass]="{'error-border': !email.valid && email.touched && !email.disabled}">

                    <label for="message">Message </label>
                    @if(!message.valid && message.touched) {
                    <span class="warn-message">Please write a message.</span><br>
                    }
                    <textarea class="bg-color" #message="ngModel" [(ngModel)]="contactData.message" id="message"
                        name="message" placeholder="Your Message" style="height:200px" required
                        [ngClass]="{'error-border': !message.valid && message.touched}"></textarea>
                    <br>
                    <input class="btn-primary" type="submit" value="Submit" [disabled]="!contactForm.valid"
                        [ngClass]="{'btn-disabled': !contactForm.valid}">

                </form>
            </div>
        </div>
    </div>
</section>