section {
    background-color: #151D2E;
    background-position: 50% 50%;
    color: white;
    background-size: cover;
    box-sizing: border-box;
    padding: 64px 120px 64px 120px;

    h1 {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        text-align: center;
        padding-bottom: 64px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: center;
    }
}