<section id="portfolio" class="scroll-offset">
    <div class="headline">
        <hr class="hr-invisible" />
        <h1>Portfolio</h1>
        <hr />
    </div>

    <div class="subline">
        <p>Explore a selection of my work here - Interact with the projects to see my skills in action.</p>
    </div>

    <img class="shade4" src="assets/img/shades/32 Purple shadow portfolio.svg" alt="">

    <div class="project-left">
        <div>
            <img src="assets/img/portfolio/polloloco.svg" alt="">
        </div>
        <div>
            <h1 class="purple">Join</h1>
            <h2 class="green">Angular | TypeScript | HTML | CSS</h2>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories.</p>
            <div class="buttons">
                <a href="#" class="btn-ref">
                    <button class="btn-secondary">Live test</button>
                </a>
                <a href="https://github.com/MarcelArndt/Project-Join" class="btn-ref">
                    <button class="btn-tertiary">Github</button>
                </a>
            </div>
        </div>
    </div>
    <div class="project-right margin-10">
        <div>
            <h1 class="purple">El Pollo Loco</h1>
            <h2 class="green">JavaScript | HTML | CSS</h2>
            <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa
                to
                fight against the crazy hen.</p>
            <div class="buttons2">
                <a href="#" class="btn-ref">
                    <button class="btn-secondary">Live test</button>
                </a>
                <a href="https://github.com/phischa/El-Pollo-Locco" class="btn-ref">
                    <button class="btn-tertiary">Github</button>
                </a>
            </div>
        </div>
        <div>
            <img src="assets/img/portfolio/polloloco.svg" alt="">
        </div>
    </div>
    <div class="project-left margin-10">
        <img class="pollo-img" src="assets/img/portfolio/polloloco.svg" alt="">
        <div class="text-left">
            <h1 class="purple">Pokédex</h1>
            <h2 class="green">JavaScript | HTML | CSS | API</h2>
            <p>Based on the PokéAPI a simple library that provides and catalogues pokemon information.</p>
            <div class="buttons">
                <a href="#" class="btn-ref">
                    <button class="btn-secondary">Live test</button>
                </a>
                <a href="https://github.com/phischa/Pokedex" class="btn-ref">
                    <button class="btn-tertiary">Github</button>
                </a>
            </div>
        </div>
    </div>
</section>