<section id="portfolio" class="scroll-offset2">
    <div class="headline">
        <hr class="hr-invisible" />
        <h1>Portfolio</h1>
        <hr />
    </div>

    <div class="subline">
        <p>Explore a selection of my work here. Interact with the projects to see my skills in action.</p>
    </div>

    <img class="shade4" src="assets/img/shades/32 Purple shadow portfolio.svg" alt="">

    <div class="project-left fade-in" [ngClass]="{'visible': isVisibleOne}">
        <div>
            <img src="assets/img/portfolio/join.png" alt="">
        </div>
        <div class="text-left">
            <h1 class="purple">Join</h1>
            <h2 class="green">JavaScript | HTML | CSS</h2>
            <p>{{ portfolioText.join }}</p>
            <div class="buttons">
                <a href="https://join.philip-schaper.de/" target="_blank" class="btn-ref">
                    <button class="btn-secondary">{{ portfolioText.liveTest }}</button>
                </a>
                <a href="https://github.com/phischa/Join_Kanban" target="_blank" class="btn-ref">
                    <button class="btn-tertiary">Github</button>
                </a>
            </div>
        </div>
    </div>
    <div class="project-right margin-10 fade-in" [ngClass]="{'visible': isVisibleTwo[0]}">
        <div class="text-right">
            <h1 class="purple">El Pollo Loco</h1>
            <h2 class="green">JavaScript | HTML | CSS</h2>
            <p>{{ portfolioText.polloLoco }}</p>
            <div class="buttons2">
                <a href="https://pollo-loco.philip-schaper.de/" target="_blank" class="btn-ref">
                    <button class="btn-secondary">{{ portfolioText.liveTest }}</button>
                </a>
                <a href="https://github.com/phischa/El-Pollo-Locco" target="_blank" class="btn-ref">
                    <button class="btn-tertiary">Github</button>
                </a>
            </div>
        </div>
        <div>
            <img src="assets/img/portfolio/polloloco.svg" alt="">
        </div>
    </div>
    <div class="project-left margin-10 fade-in" [ngClass]="{'visible': isVisibleTwo[1]}">
        <img src="assets/img/portfolio/pokedex.png" alt="">
        <div class="text-left">
            <h1 class="purple">Pokédex</h1>
            <h2 class="green">JavaScript | HTML | CSS | API</h2>
            <p>{{ portfolioText.pokedex }}</p>
            <div class="buttons">
                <a href="https://pokedex.philip-schaper.de/" target="_blank" class="btn-ref">
                    <button class="btn-secondary">{{ portfolioText.liveTest }}</button>
                </a>
                <a href="https://github.com/phischa/Pokedex" target="_blank" class="btn-ref">
                    <button class="btn-tertiary">Github</button>
                </a>
            </div>
        </div>
    </div>
    <div class="project-right margin-10 padding-bottom fade-in" [ngClass]="{'visible': isVisibleTwo[1]}">
        <div class="text-right">
            <h1 class="purple">Coming soon: DA Bubble</h1>
            <h2 class="green">Angular | TypeScript | HTML | SCSS | Firebase</h2>
            <p>{{ portfolioText.daBubble }}</p>
            <div class="buttons2">
                <a target="_blank" class="btn-ref">
                    <button class="btn-secondary btn-disabled">{{ portfolioText.liveTest }}</button>
                </a>
                <a href="https://github.com/karol-kowalczyk/da-bubble-app" target="_blank" class="btn-ref">
                    <button class="btn-tertiary">Github</button>
                </a>
            </div>
        </div>
        <div>
            <img src="assets/img/portfolio/dabubble.png" alt="">
        </div>
    </div>
</section>