<section id="contact">
    <div class="headline">
        <hr class="hr-invisible" />
        <h1>Contact</h1>
        <hr />
    </div>

    <div class="contact-section">
        <div class="contact-paragraph">
            <h2>Looking for a <span>frontend developer</span>?</h2>
            <p>Feel free to contact me. <br> I'm looking forward to hear from you.</p>
        </div>


        <div class="contact-form">
            <div class="container">
                <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

                    <label for="name">Name </label>
                    @if(!name.valid && name.touched && !name.disabled) {
                    <br><span class="warn-message">Please enter your name.</span>
                    }
                    <input class="bg-color" #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name"
                        name="name" placeholder="Your name" required
                        [ngClass]="{'error-border': !name.valid && name.touched && !name.disabled}">

                    <label for="email">Email </label>
                    @if(!email.valid && email.touched && !email.disabled) {
                    <br><span class="warn-message">Please enter your email.</span><br>
                    }
                    <input class="bg-color" #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email"
                        name="email" placeholder="Your email" required
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                        [ngClass]="{'error-border': !email.valid && email.touched && !email.disabled}">

                    <label for="message">Message </label>
                    @if(!message.valid && message.touched) {
                    <br><span class="warn-message">Please write a message.</span><br>
                    }
                    <textarea class="bg-color" #message="ngModel" [(ngModel)]="contactData.message" id="message"
                        name="message" placeholder="Your Message" style="height:200px" required
                        [ngClass]="{'error-border': !message.valid && message.touched}"></textarea>
                    <br>
                    <label for="checkbox" class="check">
                        <input type="checkbox" id="checkbox" [(ngModel)]="contactData.checkbox" name="checkbox" required>
                        <span class="checkmark"></span>
                        <p>I've read the <a href="/privacy"><span class="purple">privacy policy</span></a> and agree to the processing of my data as outlined.</p>
                    </label>
                    <br>
                    <br>
                    <div class="btn-centered">
                        <input class="btn-primary" type="submit" value="Send" [disabled]="!contactForm.valid"
                        [ngClass]="{'btn-disabled': !contactForm.valid}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="shade6">
        <img src="assets/img/shades/Purple shadow 2.svg" alt="">
    </div>
    <div class="to-top" (click)="scrollToTop()">
        <img class="hover-image" src="assets/img/contacts/arrow.svg" alt="">
    </div>
</section>