section {
    background-color: #151D2E;
    background-position: 50% 50%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
}

.headline {
    position: relative;
    z-index: 2;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-bottom: 64px;

    h1 {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        text-align: center;
    }
}

hr {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    border: 0;
    right: 0;
    border-top: 4px solid #1FDAE7;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 1em 0;
    box-sizing: content-box;
}

.hr-invisible {
    visibility: hidden;
    position: relative;
    display: flex;
    justify-content: end;
    border: 0;
    right: 0;
    border-top: 4px solid #1FDAE7;
    margin: 1em 0;
    box-sizing: content-box;
}

.contact-section {
    display: flex;
    position: relative;
    z-index: 2;
}

.contact-paragraph {
    padding: 64px 0px 64px 120px;

    h2 {
        padding-bottom: 16px;
    }
}

input[type=text],
[type=email],
select,
textarea {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #9647FE;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: white;

    &:hover {
        border: 1px solid #1FDAE7;
    }

    &:focus {
        border: 1px solid #60c518;
        outline: none;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #151D2E inset; 
    box-shadow: 0 0 0 30px #151D2E inset; 
    -webkit-text-fill-color: white; 
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #151D2E inset; 
    box-shadow: 0 0 0 30px #151D2E inset;
}

.contact-form {
    display: flex;
    padding-bottom: 32px;
    width: 100%;
    justify-content: flex-end;
}

.textarea-container {
    position: relative;
    width: 100%;
}

.textarea-container textarea {
    width: 100%;
    padding-right: 30px; 
}

.input-container {
    position: relative;
    width: 100%;
}

.input-container input {
    width: 100%;
    padding-right: 30px; 
}

.status-icon {
    position: absolute;
    right: 10px; 
    top: 43%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px;
}

.status-icon2 {
    position: absolute;
    right: 10px;
    top: 13%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.error-icon {
    display: block; /* Show error icon */
}

.success-icon {
    display: block; /* Show success icon */
}

.container {
    border-radius: 5px;
    padding: 20px 120px 64px 20px;
    width: 50%;
}

.bg-color {
    background-color: #151D2E;
}

.warn-message {
    color: rgb(225, 0, 0);
    font-size: 14px;
}

.error-border {
    border: 1px solid rgb(225, 0, 0) !important;
}

.btn-primary:disabled,
.btn-disabled {
    background-color: lightgray;
    color: darkgray;
    cursor: not-allowed;
}

.check {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        background-color: #151D2E;
        border: 1px solid rgb(225, 0, 0) !important;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
    }

    a {
        text-decoration: none;
    }
}

.checkmark {
    position: absolute;
    left: 0;
    border-radius: 3px;
    border: 1px solid #70E61C;
    height: 16px;
    width: 16px;
    background-color: #151D2E;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 4px;
    width: 5px;
    height: 10px;
    border: 1px solid #70E61C;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.shade6 {
    position: relative;
    left: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    z-index: 0;
    height: 1127px;
    margin-top: -1200px;
}

.to-top {
    position: relative;
    display: flex;
    justify-content: flex-end;
    bottom: 32px;
    right: 32px;
    z-index: 3;
    margin-top: 16px;
}

.hover-image {
    cursor: pointer;
    content: url('/assets/img/contacts/arrow.svg');

    &:hover {
        cursor: pointer;
        content: url('/assets/img/contacts/arrow-hover.svg');
    }
}

@media (max-width: 1150px) {

    .contact-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact-paragraph {
        padding: 20px;
    }

    .container {
        padding: 20px;
    }

    .contact-form {
        justify-content: center;
    }

    .success-message {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .btn-centered {
        display: flex;
        justify-content: center;
        margin-top: -20px;
    }
}

@media (max-width: 750px) {
    .headline {
        gap: 24px;
        h1 {
            font-size: 64px;
        }
    }

    .container {
        padding: 0px;

        .warn-message {
            font-size: 12px;
        }

        p {
            font-size: 12px;
        }
    }

    .to-top {
        bottom: 18px;
        right: 18px;
        margin-top: 80px;
    }

    .success-message {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .btn-centered {
        margin-top: -24px;
    }
}

@media (max-width: 435px) {
    .headline {
        display: flex;
        justify-content: center;
        padding: 0;
        h1 {
            font-size: 44px;
        }
    }
}