section {
    min-height: 100vh;
    max-height: 100vh;
    background-color: #151D2E;
    background-position: 50% 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    margin: 0 auto;
    padding:  20px;

    h1 {
        padding-bottom: 24px;
    }

    h2 {
        font-size: 18px;
        padding-bottom: 24px;
    }

    p {
        span {
            margin-top: 40px;
            font-size: 12px;
        }
    }
}