<div>
    <img class="bg-blending" src="assets/img/aboutMe/28. Hero Background.svg" alt="">
</div>
<section id="skills" class="scroll-offset">
    <img class="shade3" src="assets/img/shades/31. Green shadow Skills Portfolio.svg" alt="">
    <div class="skills">
        <div class="skills-img fade-in" [ngClass]="{'visible': isVisible}">
            <div *ngFor="let skill of skills" class="skill-item">
                <img [src]="skill.src" [alt]="skill.text" [class.color]="skill.color">
                <p [class.color]="skill.color">{{ skill.text }}</p>
            </div>
        </div>
        <div class="skills-text">
            <div class="headline">
                <h1>Skills</h1>
                <hr />
            </div>
            <div class="paragraph">
                <p>
                    {{ skillText.contentOne }}
                </p>
                <h2 [innerHTML]="skillText.h2"></h2> 
                <p>{{ skillText.contentTwo }}</p>
            </div>
            <a href="#contact" class="btn-respond btn-ref">
                <button class="btn-primary margin64 btn-bigger">{{ skillText.getInTouch }}</button>
            </a>
        </div>
    </div>
</section>
