<section id="skills" class="scroll-offset">
    <div class="about-me">
        <div class="about-me-img">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, ut, culpa quaerat corporis velit
                ab
                debitis sed ad quasi dolorum possimus quod consequuntur eligendi incidunt quam eos qui exercitationem
                ipsum.
            </p>
        </div>
        <div class="about-me-text">
            <div class="headline">
                <h1>Tech Stack</h1>
                <hr />
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium omnis at rerum! Dignissimos odio
                fugiat
                et laborum nesciunt quasi, facilis quas sequi culpa, ex maxime eum? Unde doloremque magni doloribus!
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium omnis at rerum! Dignissimos odio
                fugiat
                et laborum nesciunt quasi, facilis quas sequi culpa, ex maxime eum? Unde doloremque magni doloribus!
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium omnis at rerum! Dignissimos odio
                fugiat
                et laborum nesciunt quasi, facilis quas sequi culpa, ex maxime eum? Unde doloremque magni doloribus!
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium omnis at rerum! Dignissimos odio
                fugiat
                et laborum nesciunt quasi, facilis quas sequi culpa, ex maxime eum? Unde doloremque magni doloribus!
            </p>
            <button class="btn-primary margin64">Get in touch</button>
        </div>
    </div>
</section>