* {
    margin: 0;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;

}

.margin-top48 {
    margin-top: 48px;
}

.scroll-offset {
    padding-top: 80px;
    margin-top: -80px;
}

//COLOURS

.purple {
    color: #9647FE;
}

.blue {
    color: #1FDAE7;
}

.green {
    color: #70E61C;
}

//BUTTONS

.btn-primary {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 58px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    outline: none;
    border-radius: 10px;
    /* background-color: #70E61C; */
    background-color: #60c518;
    color: white;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 27.6px;

    &:hover {
        /* background-color: #9647FE; */
        background-color: #9447FB;
        cursor: pointer;
    }
}

.btn-secondary {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 58px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 10px;
    /* background-color: #9647FE; */
    background-color: #9447FB;
    color: white;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 27.6px;

    &:hover {
        /* background-color: #70E61C; */
        background-color: #60c518;
        cursor: pointer;
    }
}

.btn-tertiary {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 58px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 10px;
    background-color: #151D2E;
    border: 1px solid #60c518;
    color: white;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 27.6px;

    &:hover {
        /* background-color: #70E61C; */
        background-color: #60c518;
        cursor: pointer;
    }
}

//SCROLLBAR

/* width */
::-webkit-scrollbar {
    width: 8px;
    background: #161D2E;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9647FE;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a868fc;
}

//FONTS

/* poppins-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/poppins-v21-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v21-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/poppins-v21-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/poppins-v21-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/poppins-v21-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/poppins-v21-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}