section {
    background-color: #151D2E;
    background-position: 50% 50%;
    color: white;
    background-size: cover;
    padding: 64px 0 64px 0;
    border-top: 1px solid #70E61C;
    position: relative;
    z-index: 2;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 2px;
    background-image: url('/assets/img/landingPage/purple-1741713_640.jpg');
    background-position: 75% 25%;
    background-clip: text;
    color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.imprint {
    text-decoration: none;
    color: white;

    &:hover {
        cursor: pointer;
    }
}

.copyright {
    display: flex;
    align-items: center;

    p {
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        text-align: left;

    }
}

.link-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;

    img {
        cursor: pointer;
        transition: transform 250ms;
        transform: scale(1);
    }

    img:hover {
        transform: scale(1.25);
    }

    img:hover~img {
        transform: scale(1);
    }

    img:hover~img:hover {
        transform: scale(1);
    }
}

.imprint-content {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {
    section {
        padding: 40px 0 40px 0;
    }

    .footer-content {
        flex-direction: column;
        gap: 24px;
    }
}