<section>
    <div>
        <a href="#" class="logo">Phili<p class="purple">p</p></a>
    </div>
    <div class="copyright">
        <img src="" alt="">
        <p>© Philip Schaper 2024</p>
    </div>
    <div class="link-section">
        <a href="#">
            <img src="assets/img/landingPage/github-small.svg" alt="Github">
        </a>
        <a href="#">
            <img src="assets/img/landingPage/mail-small.svg" alt="E-Mail">
        </a>
        <a href="#">
            <img src="assets/img/landingPage/linked small.svg" alt="Linkedin">
        </a>
    </div>
</section>