<section>
    <div class="footer-content">
        <div>
            <a href="#" class="logo"> <!-- ps<p class="purple">DEV</p> -->
            <img class="logo-img" src="assets/img/landingPage/Bildschirmfoto 2024-08-09 um 11.36.19.png" alt="">
            </a>
        </div>
        <div class="copyright">
            <img src="" alt="">
            <p>© Philip Schaper 2024</p>
        </div>
        <div class="link-section">
            <a href="https://github.com/phischa" target="_blank">
                <img src="assets/img/landingPage/github-small.svg" alt="Github">
            </a>
            <a href="#contact">
                <img src="assets/img/landingPage/mail-small.svg" alt="E-Mail">
            </a>
            <a href="https://www.linkedin.com/in/philip-schaper" target="_blank">
                <img src="assets/img/landingPage/linked small.svg" alt="Linkedin">
            </a>
        </div>
    </div>
    
    <div class="imprint-content">
        <a href="/imprint" class="imprint">{{ FooterText.imprint }}</a>
    </div>
</section>