
    <nav>
        <div class="nav-frame">
            <div>
                <a href="#" class="logo">psDev<!-- <p class="purple">DEV</p> --></a>
            </div>
    
            <div class="navbar-links" [ngClass]="{'menu-active': isMenuActive}">
                <a href="#about-me" class="navbar-link">About Me</a>
                <a href="#skills" class="navbar-link">Skills</a>
                <a href="#portfolio" class="navbar-link">Portfolio</a>
                <!-- <div class="language-box">
                    <a href="#" onclick="german_translate()">
                        <img class="language" src="assets/img/landingPage/Flagge_Deutschland.webp" alt="deutsch">
                    </a>
                    <a href="#" onclick="english_translate()">
                        <img class="language" src="assets/img/landingPage/Grossbritannien_150_90 copy.png" alt="english">
                    </a>
                </div> -->
            </div>
    
            <div class="burger-menu" (click)="toggleMenu()">
                <div class="burger"></div>
                <div class="burger"></div>
                <div class="burger"></div>
            </div>
    
            <div class="overlay" [ngClass]="{'active': isMenuActive}" (click)="toggleMenu()">
                <div class="overlay-content">
                    <a href="#about-me" class="navbar-link">About Me</a>
                    <a href="#skills" class="navbar-link">Skills</a>
                    <a href="#portfolio" class="navbar-link">Portfolio</a>
                    <!-- <div class="language-box">
                        <a href="#" onclick="german_translate()">
                            <img class="language" src="assets/img/landingPage/Flagge_Deutschland.webp" alt="deutsch">
                        </a>
                        <a href="#" onclick="english_translate()">
                            <img class="language" src="assets/img/landingPage/Grossbritannien_150_90 copy.png" alt="english">
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </nav>
